* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
}

.topHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#logo {
	position: fixed;
	width: 2em;
	top: 15px;
	left : 10px;
	
}

nav {
	display: flex;
	justify-content: center;
	background-color: black;
	overflow: hidden;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

nav li {
	padding: 14px 26px;
	align-items: center;
}

nav a {
	float: center;
	display: block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

nav a:hover {
    color: grey;
}

a {
	color : black;
}
/* police */
h1{
	text-align: center;
	margin-top : 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

h2{
	text-align: center;
	margin-top : 15px;
	margin-bottom: 15px;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	text-align: center;
}
.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

/* select {
    background-color: #91AA9D;
    color: #FCFFF5;
    border: none;
    border-radius: 1px;
    padding: 3%;
    ;
} */

/* formulaire  */

.containerForm {
	align-content: center;
	margin-top: 30px;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: black;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: grey;
}

/*footer fixe  */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}